.img-item{
    background-image: url('../../../assets/photo/img1.jpg');
    background-image: url('../../../assets/photo/img2.jpg');
    background-image: url('../../../assets/photo/img3.jpg');
    background-image: url('../../../assets/photo/img4.jpg');
    background-image: url('../../../assets/photo/img5.jpg');
    background-image: url('../../../assets/photo/img6.jpg');
}